body{
    font-family:system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10% ;
    margin-right: 10% ;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("Multimedia/videoindex.avi") no-repeat;
      background-size: cover;
    }
  }

#videoFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

body.index{
    color: white;
    background-color: transparent;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
}

a.menu{
    flex:space-between;
    padding: 1.5% ;
    color: white;
    text-decoration: none;   
}

a:hover.menu{
    /* flex:auto; */
    padding: 1.5% ;
    background-color: white;
    text-decoration: none;
    color: black;      
}

.titulo{
    bottom:27% ;
    left: 40%;
    position:fixed;
    text-shadow: 2px 2px 5px black;
    font-family: 'DM Serif Display', serif;
}

#logo{
    position: absolute;
    right:30%;
    bottom:-40%;
    width: 40%;
    height: auto;
    z-index: -1;
    opacity: 0.75;
}

#eslogan{
    position: absolute;
    left:10%;
    bottom:-20%;
    color:rgb(255, 205, 176);
}
/* hay que hacer el bienvenido a nuestra página web responsive */
#bienvenido{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5) ;
    padding:0.7%;
    font-weight: 100;
    top: 4.4%;      
    left:10%;
    font-size: larger;
}

.rs{
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.rs:hover{
    color: rgb(238, 232, 154);
    text-decoration: none;
}

footer.index{
    position:absolute;
    bottom: 0%; 
    background-color:rgba(0, 0, 0, 0.5) ;
    padding: 1%;
    width:78%;
}

/* Hasta aquí el css de la página de index */
a.restantes{
    text-decoration: none;
    background-color: gray;
    color: white;
    flex:space-between;
    padding: 1% 5%;
    font-weight: bold;
}

nav.menu{
    background-color: gray;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    border-bottom: 1px solid;
}

.nuestra_historia{
    margin-top: -1.5%;
    background-color: black;
}

#nuestra_historia{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 190%;
    letter-spacing:0.1rem;
    width: 5%;
    padding: 3% 3% 0 3%;
    margin-bottom: -8%;
    color:white;
}

.nh{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(100%, 250%);
    justify-items: center;
    align-items: center;
    margin-top: minmax(-1.5%,2%);
}

#superqueso{
    width: 70%;
    
}
.texto{
    padding-left: 6%;
    color: white
}

