body{
    font-family:system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10% ;
    margin-right: 10% ;
}

footer{
    padding: 2%;
    background-color: gray;
    color :white;
    /* margin-top:10% ; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
span.footer{
    flex:space-between;
}

a.footer{
    color:white;
    text-decoration: none;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("Multimedia/videoindex.avi") no-repeat;
      background-size: cover;
    }
  }

#videoFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

body.index{
    color: white;
    background-color: transparent;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
}

a.menu{
    flex:space-between;
    padding: 1.5% ;
    color: white;
    text-decoration: none;   
}

a:hover.menu{
    /* flex:auto; */
    padding: 1.5% ;
    background-color: white;
    text-decoration: none;
    color: black;      
}

.titulo{
    bottom:27% ;
    left: 40%;
    position:fixed;
    text-shadow: 2px 2px 5px black;
    font-family: 'DM Serif Display', serif;
}

#logo{
    position: absolute;
    right:30%;
    bottom:-40%;
    width: 40%;
    height: auto;
    z-index: -1;
    opacity: 0.75;
}

#eslogan{
    position: absolute;
    left:10%;
    bottom:-20%;
    color:rgb(255, 205, 176);
}
/* hay que hacer el bienvenido a nuestra página web responsive */
#bienvenido{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5) ;
    padding:0.7%;
    font-weight: 100;
    top: 4.4%;      
    left:10%;
    font-size: larger;
}

.rs{
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.rs:hover{
    color: rgb(238, 232, 154);
    text-decoration: none;
}

footer.index{
    position:absolute;
    bottom: 0%; 
    background-color:rgba(0, 0, 0, 0.5) ;
    padding: 1%;
    width:78%;
}

/* Hasta aquí el css de la página de index */
body.qs{
    background-color: rgb(29, 29, 29);
}
a.restantes{
    text-decoration: none;
    background-color: gray;
    color: white;
    flex:space-between;
    padding: 1% 5%;
    font-weight: bold;
}

nav.menu{
    background-color: gray;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    border-bottom: 1px solid;
    flex-wrap: wrap;
}

.nuestra_historia{
    margin-top: -1.5%;
    background-color: black;
}

h1.qs, #reservar{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 190%;
    letter-spacing:0.1rem;
    width: 5%;
    padding: 3% 3% 0 3%;
    color:white;
}

.nh{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(100%, 250%);
    justify-items: center;
    align-items: center;
    margin-top: minmax(-1.5%,2%);
    margin-bottom: -1.8%;
}

#superqueso{
    width: 70%;
    
}
.texto, dd, dt{
    padding-left: 3%;
    color: white
}

.ne{
    background-image: url(./Multimedia/gente.jpg);
    background-repeat: no-repeat;
    margin-top: 0%;
    background-size: 120% auto;
    background-position: center;
}

.lista{
    padding-bottom:1%;
}

dt{
    text-shadow:2px 2px 5px black;
    font-weight: bold;
}

dt::before{
    content:"🍴";
    margin-right:8px;
}

.nm{
    background-color: black;
    color:white;
    padding: 1%;
}

.ns{
    background-image: url(./Multimedia/murofondo.jpeg);
    margin-bottom: 0;
    background-size: 1500px;
}
#nuestros_valores{
    color:black
}
ul{
    display:grid;
    grid-template-columns:repeat(3, 3fr);
    column-gap: 3%;
    grid-template-rows: repeat(2,auto);
    row-gap: 3%;
    list-style-type: none;
    padding: 3%;
}

li{
    border:dashed;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
}

/* Hasta aquí el quienes somos */


/* .galeria{
    display: flex;
    align-items: stretch;
    padding: 0.5%;
    background-color: black;
    justify-items: center;
} */


button.galeria{
    border: none;
    height: auto;
    background-color: transparent;
    color: black;
}

#siguiente{
    position:absolute;
    right: 15%;
    top:37%;
}

#anterior{
    position:absolute;
    left: 15%;
    top:37%;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px 2px;
}
/* Hasta aquí la galería */

input[type=text], textarea, label.test{
    border-radius: 0px;
    color:white;
    background-color: black;
}

#formulario_coment{
    background-color: black;
    box-shadow: 3px 3px 3px 3px blue ;
    padding: 2%;
}

/* Empiezo con el formulario de reservas */
#reservar{
    color:black;
    letter-spacing:0.0rem;

}
#reservas{
    background-color: white;
    
}

fieldset{
    margin: 1%;
    border:none;
}

#form{
    background-color:white;
    color:black;
    padding:1%;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    margin: 3% 0;
}

.nom_ap{
    display: flex;
    flex-direction: row;
    gap:22%;
    margin-bottom: 3%;   
    align-content:center ;
    align-items: center;
    justify-content: center;
       
}

.sep_column{
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 50%;
    margin: 2%;
    position:relative;
}

.reserv, #nombre, #apellidos{
    background-color: white;
    border: none;
    border-bottom: 3px solid black;
    color:black;
}

.email-tlf{
    display: grid;
    grid-template-rows: 50%;
    gap:3%;
    margin-bottom: 3%;
    position:relative;
    left:25%;
}

#tel{
    width: 10%;
    justify-content:center;

}

#nombre{
    width: 150%;
}
#apellidos{
    width: 200%;
}

#correo{
    width: 50%;
}


#butt{
    margin-left: -10%;
    gap:10%;    
    /* justify-content: left;
    justify-items: center;
    align-items: center;
    align-content: center; */
}

.titulo_reservas{
    font-size: 30px;
    font-family: 'Marhey', sans-serif;
}

#enviar{
    background-color: black;
    color:white;
    padding: 0.75% 2%;
    height:auto ;
    border-radius: 100px;
    font-size: 15px;
    margin-right: 20%;
}


.cajas_pref{
    margin: 10% 1% 5% 1%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 2%;
}

.box{
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    row-gap: 20%;
    width:100%;
    margin-bottom: 2%;
    padding: 2% 2% 4%;
    border-radius: 12px;
}

#mesa{
    background-color: #7b94b5;
    color:#d1d9e6;
    align-items: center;
}

#pref_box{
    background-color: #5f9ea2;
    color: #b5dada;
    align-items: center;
}

.textbox{
    background-color: #d1d9e6;
    margin-bottom: -2%;
    color:black;
    border-radius: 12px;
    padding:2%;   
    box-shadow: 0px 0px 5px 2px #284347; 
}

#vegano , #vegetariano{
    background-color: #b5dada;
    padding: 2%;
    box-shadow: 0px 0px 5px 2px #386166; 
}

#alergias{
    background-color:#88d7f2;
}

#alergias_titulo{
    align-self: center;
    justify-self: center;
    color:#e2f4fc;
}


select {
    background-color: #e2f4fc;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 1%;
    width: 350px;
    border-radius: 12px;
 }

 .caja:hover{
    border: solid gray 2px
 }

 select:focus{ outline: none;}

 .caja {
    border-radius: 12px;
    margin:20px auto;        
    border:1px solid #d9d9d9;
    height:50px;
    width: 300px;
    overflow: hidden;
    position:relative;
    background-color: #e2f4fc;
    box-shadow: 0px 0px 5px 2px #128ab7;
 }

 .caja::after{
    content:"\025be";
    display:table-cell;
    text-align:center;
    padding-top:7px;
    width:50px;
    height:50px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;
    pointer-events: none;
 }

 
/*Aqui comienza la parte de contacto*/

.contacto{
    display: flex;
    flex-direction: column;
    gap:2%;
}

.primerbloque, .segundobloque{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#88d7f2;
    flex-wrap: wrap;
}

.segundobloque{
    margin-top: 1%;
}
.item{
    background-color: #128ab7;
}



