body{
    font-family:system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10% ;
    margin-right: 10% ;
}

footer{
    padding: 2VH;
    background-color: gray;
    color :white;
    /* margin-top:10% ; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
span.footer{
    flex:space-between;
}

a.footer{
    color:white;
    text-decoration: none;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("Multimedia/videoindex.avi") no-repeat;
      background-size: cover;
    }
  }

#videoFondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

body.index{
    color: white;
    background-color: transparent;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a.menu{
    flex:space-between;
    padding: 1.5vh ;
    color: white;
    text-decoration: none;   
}

a:hover.menu{
    /* flex:auto; */
    padding: 1.5vh ;
    background-color: white;
    text-decoration: none;
    color: black;      
}

.titulo{
    bottom:27VH ;
    left: 90vh;
    position:fixed;
    text-shadow: 2px 2px 5px black;
    font-family: 'DM Serif Display', serif;
}

#logo{
    position: absolute;
    right:9vh;
    bottom:-3vh;
    width: 15vh;
    height: auto;
    z-index: -1;
    opacity: 0.75;
}

#eslogan{
    position: absolute;
    left: 5vh;
    bottom:-2vh;
    color:rgb(255, 205, 176);
}
/* hay que hacer el bienvenido a nuestra página web responsive */
#bienvenido{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5) ;
    padding:0.7vh;
    font-weight: 100vh;
    top: 3.4vh;      
    left:20.9vh;
    font-size: larger;
}

.rs{
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.rs:hover{
    color: rgb(238, 232, 154);
    text-decoration: none;
}

footer.index{
    position:absolute;
    bottom: 0vh; 
    background-color:rgba(0, 0, 0, 0.5) ;
    padding: 1vh;
    width:165.1vh;
}

/* Hasta aquí el css de la página de index */
body.qs{
    background-color: rgb(29, 29, 29);
}
a.restantes{
    text-decoration: none;
    background-color: gray;
    color: white;
    flex:space-between;
    padding: 1vh 5vh;
    font-weight: bold;
}

nav.menu{
    background-color: gray;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    padding-bottom: 1vh;
    border-bottom: 1px solid;
    flex-wrap: wrap;
}
#mainqs{
    display: flex;
    flex-direction: column;
}

.nuestra_historia{
    margin-top: -1.5vh;
    background-color: black;
}

h1.qs, #reservar{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 190%;
    letter-spacing:0.1rem;
    width: 5vh;
    padding: 3vh 3vh 0 3vh;
    color:white;
}

.nh{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: minmax(100%, 250%);
    justify-items: center;
    align-items: center;
    margin-top: minmax(-1.5vh,2vh);
    margin-bottom: 0vh;
}

#superqueso{
    width: 90%;
    
}
.texto, dd, dt{
    padding-left: 3vh;
    color: white
}

.ne{
    background-image: url(./Multimedia/gente.jpg);
    background-repeat: no-repeat;
    margin-top: 0vh;
    background-size: 120% auto;
    background-position: center;
}

.lista{
    padding-bottom:1vh;
}

dt{
    text-shadow:2px 2px 5px black;
    font-weight: bold;
}

dt::before{
    content:"🍴";
    margin-right:8px;
}

.nm{
    background-color: black;
    color:white;
    padding: 1vh;
}

.ns{
    background-image: url(./Multimedia/murofondo.jpeg);
    margin-bottom: 0;
    background-size: 1500px;
}
#nuestros_valores{
    color:black
}
ul{
    display:grid;
    grid-template-columns:repeat(3, 3fr);
    column-gap: 3vh;
    grid-template-rows: repeat(2,auto);
    row-gap: 3vh;
    list-style-type: none;
    padding: 3vh;
}

li{
    border:dashed;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    background-color: white;
}

/* Hasta aquí el quienes somos */





/* Aquí empiezo la galeria */

section#contenedor_galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Multimedia/fondo_galeria.jpg);
    background-repeat:no-repeat;
    background-size: 250lvb;
    background-position: 0px;
    margin:-2.3vh 0 ;
}

div.galeria{
    padding-top: 3vh;
    display: flex;
    justify-items: center;
}

.imggal{
    min-width: 80%;
    min-height: 60%;
}

.botongaleria{
    border: none;
    height: auto;
    background-color: transparent;
    color: white;
    font-size: 3vh;
    font-family: 'Poor Story', system-ui;
    border-radius: 5px;
}

div.siguiente{
    display: flex;
    align-content: left;
    padding-right: 23em;
    grid-row:1;
    grid-column:3;
}

div.anterior{
    display: flex;
    align-content: right;
    padding-left:23em;
}

#platos{
    font-family: 'Diphylleia', serif;
    padding: 1vh;
    font-size: 150%;
    background-color: rgba(85, 60, 6, 0.6);
    margin-bottom: 1vh;
    box-shadow: 0 3px 5px 2px black;
    width: 35%;
    
}
#TextoPlato{
    align-items: center;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px 2px black;
}

/* Hasta aquí la galería */
section#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2vh;
    margin-top: 1vh;
}
#formulario_coment{
    
    background-color: black;
    padding: 2vh;
    background-color: #dfeafb;
    border-radius: 12px;
    width:50vh;
}
div.testimonios{
   display: flex;
   align-items: center;
   justify-content: center;
}

#formulario_coment:hover{
    border: #9cc3f4 2px solid;
    
}

input#nom{
    width: fit-content;
    border: none;
}
#comentario{
    background-color: white ;
    border: none;
    border-bottom:solid 1px black;
}
.comentario{
    background-color: whitesmoke;
    border-radius: 12px;
}
.texto_del_comentario{
    padding: 1vh;
}
.respuesta{
    margin-left: 5vh;
    border-radius: 12px;
    border: dashed;
    background-color: white;
    
}
.respuesta:hover{
    box-shadow: -2px -1px 2vh 1px black;
}
.texto_respuesta{
    margin-left: 1vh;
}

textarea#comentario{
    width: 28vh;
    height: 10vh;
    margin-top: 1vh;
}

/* Empiezo con el formulario de reservas */
#reservar{
    color:black;
    letter-spacing:0.0rem;

}
#reservas{
    background-color: white;
    
}

fieldset{
    margin: 1vh;
    border:none;
}

#form{
    background-color:white;
    color:black;
    padding:1vh;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    margin: 3vh 0;
}

.nom_ap{
    display: flex;
    flex-direction: row;
    gap:22vh;
    margin-bottom: 3vh;   
    align-content:center ;
    align-items: center;
    justify-content: center;
       
}

.sep_column{
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: 50vh 50vh;
    gap: 50vh;
    margin: 2vh;
    position:relative;
}

.reserv, #nombre, #apellidos{
    background-color: white;
    border: none;
    border-bottom: 3px solid black;
    color:black;
}

.email-tlf{
    display: grid;
    grid-template-rows: 50vh;
    gap:3vh;
    margin-bottom: 3vh;
    position:relative;
    left:25vh;
}

#tel{
    width: 10vh;
    justify-content:center;

}

#nombre{
    width: 150vh;
}
#apellidos{
    width: 200vh;
}

#correo{
    width: 50vh;
}


#butt{
    margin-left: -10vh;
    gap:10vh;    
    /* justify-content: left;
    justify-items: center;
    align-items: center;
    align-content: center; */
}

.titulo_reservas{
    font-size: 30px;
    font-family: 'Marhey', sans-serif;
}

#enviar , #Agregar{
    padding: 0.75vh 2vh;
    height:auto ;
    border-radius: 100px;
    margin-right: 20vh;
}
#enviar{
    background-color: black;
    color:white;
    font-size: 15px;
}

#Agregar{
    background-color: #6ea2ec;
    border: solid 1px #4c81e5;
}


.cajas_pref{
    margin: 10vh 1vh 5vh 1vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 2vh;
}

.box{
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    row-gap: 20vh;
    width:100vh;
    margin-bottom: 2vh;
    padding: 2vh 2vh 4vh;
    border-radius: 12px;
}

#mesa{
    background-color: #7b94b5;
    color:#d1d9e6;
    align-items: center;
}

#pref_box{
    background-color: #5f9ea2;
    color: #b5dada;
    align-items: center;
}

.textbox{
    background-color: #d1d9e6;
    margin-bottom: -2vh;
    color:black;
    border-radius: 12px;
    padding:2vh;   
    box-shadow: 0px 0px 5px 2px #284347; 
}

#vegano , #vegetariano{
    background-color: #b5dada;
    padding: 2vh;
    box-shadow: 0px 0px 5px 2px #386166; 
}

#alergias{
    background-color:#88d7f2;
}

#alergias_titulo{
    align-self: center;
    justify-self: center;
    color:#e2f4fc;
}


select {
    background-color: #e2f4fc;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 1vh;
    width: 350px;
    border-radius: 12px;
 }

 .caja:hover{
    border: solid gray 2px
 }

 select:focus{ outline: none;}

 .caja {
    border-radius: 12px;
    margin:20px auto;        
    border:1px solid #d9d9d9;
    height:50px;
    width: 300px;
    overflow: hidden;
    position:relative;
    background-color: #e2f4fc;
    box-shadow: 0px 0px 5px 2px #128ab7;
 }

 .caja::after{
    content:"\025be";
    display:table-cell;
    text-align:center;
    padding-top:7px;
    width:50px;
    height:50px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;
    pointer-events: none;
 }

 
/*Aqui comienza la parte de contacto*/

.contacto{
    display: flex;
    flex-direction: column;
    gap:2vh;
}

.primerbloque{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:20vh;
    margin-bottom: 1vh;
}

.horario{
    color:black;
    width: 300px;
}

.item1{
    background-color: whitesmoke;
    padding: 1vh;
    border-radius: 12px;
    justify-content: center;
}

#mapa{
    border-radius: 12px;
}

#mapa:hover{
    border:solid gray 2px
}

.segundobloque{
    justify-content: center;
    display: grid;
    grid-template-rows:200px 200px 200px;
    grid-template-columns: 200px 200px 300px;
    margin-top: 1vh;
    /* gap:2vh; */
    column-gap: 2vh;
    row-gap: 6vh;
}

.item{
    align-self: center;
    align-items: center;
    min-height: 20vh;
}

.redes{
    background-color: #f5f5f5;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.redes:hover{
    border: solid gray 2px;
}

.img_redes{
    max-width: 60px;
    margin-bottom: 1vh;
    border-radius: 120px;
}

#twitter{
    grid-column:2;
    grid-row:2;
}

#telegram{
    grid-column: 1;
    grid-row: 2
}

#instagram{
    grid-column:2;
    grid-row:1;
}

#facebook{
    grid-column:1;
    grid-row:1;
}
.enlaces_redes{
    text-decoration: none;
}

.tercerbloque{
    float: right;
    position: relative;
    bottom:650px;
    right: 200px;
    z-index: -1;
    margin-right: 0vh;
    width: 600px;
    height: 400px;
    background-color: #bdbdbd;
}

#correo_tel{
    padding: 3vh;
    margin-left: -25vh;
    display: flex;
    flex-direction: column;
}

h4#como{
    width: 1200px;
}


/* Hasta aqui el contacto */
section.platosolicitados{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.contenedormenu{
    display: flex;
    flex-direction: column;
}
.hulk, .mcheese, .jamon{
    display: grid;
    grid-template-columns: 75vh 25vh;
    grid-template-rows: 25px 1fr;
    row-gap:2vh ;
    column-gap: 4vh;
    padding: 4vh;
    border-bottom: solid 2px #917f6e;
}
.mcheese{
    grid-template-columns: 25vh 75vh ;
}
#textohulk, #textojamon, #textomc{
    grid-row: 2;
}

#textohulk, #textojamon{
    grid-column: 1;
}

#textomc{
    grid-column: 2;
}

#imghulk, #imgjamon, #imgmc{
    grid-row: 2;
}

#imghulk, #imgjamon{
    grid-column: 2;
}

#imgmc{
    grid-column: 1;
}

.ps{
    height: 25vh;
    width: auto;
}

.hulk{
    background-color: #efe1d1;
}
.mcheese{
    background-color: #efd2be;
}
.jamon{
    background-color: #efbc98;
}
/* Hasta aquí la primera parte del menu */

.segundomenu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2vh;
    row-gap: 2vh;
    justify-content: center;
    margin-bottom: 2vh;
}

.itemmenu{
    background-color: #d9ddcd;
    border-radius: 12px;
}

#arzua{
    grid-column:2;
}

#quesos, #comb, #ad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

article#qu, #quesos, #comb, #ad{
    height:  80vh;
}

.tabs{
    padding: 0px 1vh;
    background-color: whitesmoke;
    width: 70vh;    
    margin-bottom: 2vh;
    border-radius: 12px;
}